* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.barra a {
    text-decoration: none;
    list-style: none;
}


/*Logo, lo deje solo para ver como quedaba*/

.ban-img img {
    width: 300px;
}


/*Barra de busqueda*/

.search-icon {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}

.search-icon input {
    height: 90%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

.search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-icon .icon:hover {
    background: #e6e6e6;
}

.search-icon .icon span {
    color: #222222;
    font-size: 18px;
}


/*Footer*/

.contenido-foo {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    text-decoration: none;
}

.footer {
    background-color: #5a5a5a;
    padding: 40px 0;
}

.footer h2 {
    text-align: center;
    font-size: 15px;
    margin: 10px 0 0 0;
    color: #ffffff;
}

.footer-col {
    margin: 0;
    width: 25%;
    padding: 0 15px;
    align-items: center;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f05c8f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.footer-col img {
    height: 100px;
    width: auto;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


/*Banner*/


.img-fondo {
    background: url(imagenes/Img-land.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 50px);
    z-index: -100000;
}


/*secion gris*/

.section {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
    min-height: 900px;
}


/*Información home*/

.container {
    width: 80%;
}

.image-section img {
    width: 100%;
    height: auto;
}

.content-section .title h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #F15A24;
    font-weight: 700;
    border-top: 5px solid #808080;
}

.content-section .content p {
    margin-top: 20px;
    color: #000000;
    font-size: 16px;
    text-align: justify;
}

button a:hover {
    text-decoration: none;
}

@media all and (max-width: 700px) {
    .content-section .title h1 {
        font-size: 25px;
    }
    .content-section .content p {
        font-size: 14px;
    }
}



/*Comentarios*/

.testim {
    margin-top: 50px;
    width: 100%;
    top: 20%;
    bottom: 20%;
}

.title-t{
    text-transform: uppercase;
    font-size: 40px;
    color: #F15A24;
    font-weight: 700;
    border-top: 5px solid #808080;
    margin-left: 75px;
    margin-right: 75px;
    font-family: 'D-DIN Exp 700', sans-serif;
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #be6c0d;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .arrow:hover {
    color: #ffa135;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: none;
    border-color: none;
}

.testim .dots .dot.active {
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont>div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont>div.inactive {
    opacity: 1;
}

.testim .cont>div.active {
    position: relative;
    opacity: 1;
}

.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #ea830e;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: rgb(0, 0, 0);
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    animation: testim-content-out .5s ease-in-out forwards;
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }
    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }
    70% {
        box-shadow: 0px 0px 10px 5px #ea830e00;
    }
    100% {
        box-shadow: 0px 0px 0px 0px #ea830e00;
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 800px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 1000px) {
    .testim .arrow {
        font-size: 1.5rem;
    }
    .testim .cont div p {
        line-height: 25px;
    }
}